@page
@model EmployeeSalary.Pages.Employee.EditModel
@{
}

<br />
<h2>UPDATE EMPLOYEE</h2>
@if (Model.errormessage.Length > 0)
{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.errormessage</strong>
                <button type="button" class="btn-success" data-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.employeeInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Full Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="fn" value="@Model.employeeInfo.fn" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Birthdate</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="bdate" value="@Model.employeeInfo.bdate.ToString()"   />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">TIN</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="tin" value="@Model.employeeInfo.tin" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Employee Type</label>
        <div class="col-sm-6">
            @if (Model.employeeInfo.emp_type == "Regular")
            {
                <select id="emp_type" name="emp_type">
                    <option value="1" selected="selected">Regular</option>
                    <option value="2">Contractual</option>

                </select>
            }
            else
            {
                <select id="emp_type" name="emp_type">
                    <option value="1">Regular</option>
                    <option value="2" selected="selected">Contractual</option>

                </select>
            }
            @*<input type="text class="form-control" name="emp_type" value="@Model.employeeInfo.emp_type" />*@

        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-success" data-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="col-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">UPDATE</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Employee/Index" role="button">Cancel</a>
        </div>
    </div>
</form>